button{
  color: rgb(29, 13, 13);
  font-weight: 600;
  float: right;
  border-radius: 5px;
  border: none;
  background-color:  rgb(240, 235, 250);
  padding: 12px 10px;
  margin-top: -50px;
}
button:hover{
  transition: 200ms;
 scale:1.03;
 background-color: rgb(139, 247, 232);
}

.column-1{
  height: 100%;
  float: left;
  width: 90%;
}
.column-2{
  height: 100%;
  float: left;
  width: 10%;
}
.row{
  height: 50px;
  padding: 20px 50px 0px 30px ;
}

.box{
  background-color: rgb(76, 19, 209) !important;
  color:rgb(227, 224, 235);
  /* height: 18vh; */
}

.box-2{
  margin-left: 100px;
}

.avatar{
  border-radius: 50%;
}


.column-3{
  float: left !important;
  width: 33% !important;
}
h2{
  margin-top: 0px;
  padding-top: 0px;
}


.profile {
  border: 1.5px initial rgb(17, 16, 16);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: 20px 50px;
  text-align: center;
  font-family: arial;
  padding: 20px;
  background-color: rgb(102, 154, 223);
}

.profile:hover{
  transition:400ms;
  box-shadow: 0 8px 16px 0 rgba(15, 12, 14, 0.582);
  transform: translateY(-10px);
}
.email {
  color: rgb(11, 3, 15);
  font-size: 18px;
  overflow-wrap: anywhere;
}
.name{
  font-size:25px;
  font-weight: bold;
  color: rgb(247, 235, 240);
}
.loader{
  margin-left: 300px;
  margin-right: 100px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: large;
  font-weight: Georgia, "Times New Roman",Times, serif;
  text-decoration: double;
}

@media screen and (max-width: 600px) {
  .profile{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
  }

  .name{
    font-size:medium;
  }
  .column-3{
    float: left;
    margin-left: 60px;
  }

  .email{
    font-size: small;
  }

  .loader{
    align-self: center;
    width:100%;
  }

  .box{
    width:110vh;
  }
  
}